<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Italiano</div>
      <div class="item item-body">
        <div>
          Benvenuti!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Español</div>
      <div class="item item-body">
        <div>
          Bienvenido!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">English</div>
      <div class="item item-body">
        <div>
          Welcome!
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
